@use '../../../assets/global.scss' as g;

.system-entry-points {
  width: 50vw;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: flex-end;
    color: g.$ngt-teal;
    margin-right: 1rem;
  }
}
