@use '../../../assets/global.scss' as g;

.container {
  width: 50vw;
  padding: 2rem;

  .header {
    display: flex;
    justify-content: flex-end;
    color: g.$ngt-teal;
    margin-right: 1rem;
  }
}
