@use '../../assets/global.scss' as g;

.navbar {
  &__menu {
    background-color: g.$ngt-light-blue;
    color: g.$ngt-white;

    &:focus {
      color: g.$ngt-white;
    }
  }
}

.ant-layout {
  .navbar {
    background: g.$ngt-light-blue;
  }
}
